{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}

{% if not user.is_authenticated %}

<section class="section-with-image" 
style="background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
        ),
        url('{% static 'images/background.jpg' %}')"> 
    
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center"> 
          <h1>Connecting food lovers with local home chefs.</h1>
          <p>Enjoy delicious, home-cooked meals delivered to your doorstep.</p>
          <p>Discover a variety of cuisines and find your new favorite home chef.</p>
          <a href="{% url 'register' %}" class="btn btn-warning btn-lg">Register Now </a> 
        </div>
      </div>
    </div>
  </section>

{% endif %}

<section class="container mt-4">
    <div class="text-box p-4 bg-light border rounded">
        <p>Dummy text goes here. This is a placeholder for description. Dummy text goes here. Dummy text.</p>
        <p>More dummy text for 6 rows. This will be replaced later with actual content. More dummy text.</p>
        <p>HMF is dedicated to connecting home food cooks (FoodMakers) with food lovers (Eaters) who appreciate homemade meals. We believe in supporting home chefs, providing fresh, healthy, and affordable food options, and fostering a community that values home-cooked meals.</p>

    </div>
</section>


<section class="container mt-4">

    <form id="foodSearchForm" action="{% url 'select_food' %}" method="GET" target="_blank">

    <label class="font-weight-bold">What do you want to eat tonight?</label>
    <input type="text" name="q" value="{{ query|default:'' }}" placeholder="Type your favoirite dish..." class="form-control">
        
    <label class="mt-3 font-weight-bold">You can select up to 3 cities in your surrounding</label>
<div class="row">
    <div class="col-md-4">
        <select class="form-control" name="city">
            <option value="">Select City 1</option>
            {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <select class="form-control" name="city">
            <option value="">Select City 2</option>
            {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <select class="form-control" name="city">
            <option value="">Select City 3</option>
            {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
    </div>
</div>

    
    <label class="mt-4 font-weight-bold">State</label>
    <select class="form-control">
        {% for s in states %}
            <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
    </select>

    <label class="mt-3 font-weight-bold">Select Cuisine</label>
    <label>Select Cuisine:</label>
    <div>
        {% for cuisine in cuisines %}
            <label>
                <input type="checkbox" name="cuisine" value="{{ cuisine }}"
                    {% if cuisine in selected_cuisines %}checked{% endif %}>
                {{ cuisine }}
            </label>
        {% empty %}
            <p>No cuisines available.</p>
        {% endfor %}
    </div>
    
    <button type="submit" class="btn btn-danger btn-block mt-3">Show Me My Food</button>
    </form>
</section>




</div>
</section>
{% endblock %}