{% extends 'base.html' %}

{% block content %}

<div class="register-cards">
  <div class="register-card">
    <h3>Register as FoodMaker</h3>
    
    <p>If you know you can cook delicious food, either you spent hours to learn and gained the experience, or, you just born and know how to cook good food, don’t waste your talent. Life is short, get your name and food out! </p>
    <p>What we will provide: a user profile for you to keep track your info, a separate page for upload images with capable to add, subtract food images for maintenance. </p>
    <p>Small of monthly fee to $x for maintaining advertising capabilities and online present. </p>
    <p> you need to create a website, we can create the website for you for small amount of fee</p>
    
    <a class="btn btn-warning" href="{% url 'register_foodmaker' %}">Register Now</a> 
  
  </div>

  <div class="register-card">
    <h3>Register as Eater</h3>
    <p>If you're looking for delicious, home-cooked meals delivered to your doorstep, register here!</p>
    <a class="btn btn-warning" href="{% url 'register_eater' %}">Register Now</a> 
  </div>
</div>

{% endblock %}