{% extends 'base.html' %}

{% block content %}

<div class="register-cards">
  <div class="register-card">
    <h3>Register as FoodMaker</h3>
    <p>If you're a talented home chef and want to share your creations with the world, register here!</p>
    <a class="btn btn-warning" href="{% url 'register_foodmaker' %}">Register Now</a> 
  </div>

  <div class="register-card">
    <h3>Register as Eater</h3>
    <p>If you're looking for delicious, home-cooked meals delivered to your doorstep, register here!</p>
    <a class="btn btn-warning" href="{% url 'register_eater' %}">Register Now</a> 
  </div>
</div>

{% endblock %}